body {
    background: url(../images/background.jpg)top center;
    background-size: cover;
}

h1 {
    text-align: center;
    color: #fff;
}

h2 {
    text-align: center;
}

li {
    padding: 8px;
    border: 2px outset #00afd7;
    border-radius: 5px;
    list-style: none;
    background: #fff;
}

.content {
    margin-top: 40px;
}
.delete-tweet,
.delete-tweet:hover {
    float: right;
    cursor: pointer;
    font-weight: bold;
    color: red;
}